* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 98%;
	max-width: 960px;
	margin: 0 auto;
	border: 6px double #931420;
	border-radius: 10px;
	background-color: #fffded;
}

.shadow {
	text-shadow: 2px 1px #800000;
}

/* the styles for the header */
header img {
	float: left;
	padding-left: 3.75%;
	padding-right: 3.75%;
}

header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: 
	linear-gradient(30deg, #f6bb73,#f6bb73,white,#f6bb73,#f6bb73);
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

/* All Main Content */

main {
	display: flex;
}

#return {
	padding: .25em;
	color: inherit;
	text-decoration: none;
}
#return:hover {
	font-style: normal;
}

/* Nav */
#nav_menu {
	width: 100%;
}

#nav_menu ul {
	display: flex;
	flex-basis: 100%;
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#nav_menu ul li {
	display: block;
	flex-basis: 20%;
}

#nav_menu li a {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

#nav_menu ul ul {
	width: 20%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    display: block;
}

.current {
	color: yellow;
}

#mobile_menu {
	display: none;
}

/* Main Section */

main section {
	order: 1;
	flex-basis: 70%;
	padding: 0 2.5% 20px 2.5%;
}

main section h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-top: 0;
	margin-bottom: 0;
}

main section h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

main section article {
	padding-top: .5em;
	padding-bottom: .5em;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}

main section article h2 {
	padding-top: 0;
}
main section article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

main section p {
	padding-bottom: .5em;
}

main section ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}

main section li {
	padding: .35em;
	list-style: circle;
}

main section blockquote {
	padding-left: 2em;
	padding-right: 2em;
	font-style: italic;
}

main section img {
	float: right;
	margin: 1em 0 1em 1.5em;
	border: 1px solid black;
}

/* Main Aside */

main aside {
	order: 0;
	flex-basis: 30%;
	padding-left: 2.5%;
	padding-bottom: 2.5%;
}

main aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

main aside h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

main aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

main aside img {
	padding-bottom: 1em;
	padding-top: .5em;
}
/* Footer */

footer p {
	text-align: center;
	color: white;
	background-color: #931420;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Misc. */

a:focus, a:hover {
	font-style: italic;
}

@media only screen and (max-width: 959px) {
	main section h1 {
		font-size: 135%;
	}
	main section h2 {
		font-size: 120%;
	}
	main aside h2 {
		font-size: 120%;
	}
}

@media only screen and (max-width: 767px) {
	header {
		text-align: center;
	}
	header img {
		float: none;
	}
	main {flex-direction: column;}
	main section {
		width: 95%;
		order: 0;
	}
	main aside {
		order: 1;
		padding-right: 2.5%;
		width: 95%;
	}
	article img {
		max-width: 30%;
	}
	#asideContent {
		column-count: 2;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		
		background-color: #800000 !important;
	}
}

@media only screen and (max-width: 479px) {
	body {
		font-size: 90%;
	}
}