* {
	margin: 0;
	padding: 0;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.shadow {
	text-shadow: 2px 1px #800000;
}

/* the styles for the header */
header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}

header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: 
	linear-gradient(30deg, #f6bb73,#f6bb73,white,#f6bb73,#f6bb73);
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

/* All Main Content */

#contentBox {
	width: 800px;
	margin: 0px auto 0px auto;
	border: 6px double #931420;
	border-radius: 10px;
	background-color: #fffded;
}

main {
	clear: left;
}

#return {
	padding: .25em;
	color: inherit;
	text-decoration: none;
}
#return:hover {
	font-style: normal;
}

/* Main Section */

main section {
	width: 525px;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

main section h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-top: 0;
	margin-bottom: 0;
	color: #800000;
}

main section h2 {
	font-size: 115%;
	padding-top: .5em;
	padding-bottom: .25em;
}

main section article {
	padding-top: .5em;
	padding-bottom: .5em;
}

main section article h2 {
	padding-top: 0;
}
main section article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

main section p {
	padding-bottom: .5em;
}

main section ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}

main section li {
	padding: .35em;
}

main section blockquote {
	padding-left: 2em;
	padding-right: 2em;
	font-style: italic;
}

main section img {
	float: right;
	margin: 1em 0 1em 1.5em;
	border: 1px solid black;
}

/* Main Aside */

main aside {
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}

main aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

main aside h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

main aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

main aside img {
	padding-bottom: 1em;
	padding-top: .5em;
}

/* Nav */

.nav_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.nav_menu li {
	float: left;
}

.nav_menu li a {
	display: block;
	width: 160px;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

.nav_menu::after {
	margin-bottom: 1em;
	clear: none;
	float: none;
	display: block;
}

.nav_submenu {
	display: none;
	float: none;
}
.nav_submenu li {
	float: none;
}

.nav_menu ul li:hover > ul {
	display: block;
	position: absolute;
}

.current {
	color: yellow;
}

/* Footer */

footer p {
	clear: right;
	text-align: center;
	color: white;
	background-color: #931420;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Misc. */

a:focus, a:hover {
	font-style: italic;
}