form > input, form > textarea, form > label {
    display: block;
    margin-bottom: 5px;
    font-size: 120%;
    max-width: 100%;
}
form > input[name="name"] {
    width: 250px;
}
form > input[name="phone"] {
    width: 150px;
}
form > input[name="subject"] {
    width: 400px;
}
form > textarea[name="message"] {
    width: 500px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
form > input:required, form > input:invalid, form > textarea:required, form > textarea:invalid {
    border: 2px solid red;
}
form > input:valid, form > textarea:valid {
    border: 2px solid black;
}