section {
    width: 90%;
}

#columnContainer {
    display: flex;
    flex-direction: column;
}

#row1 {
    display: flex;
}

#row1 #column1 {
    order: 0;
    flex: 50%;
}
#row1 #column2 {
    order: 1;
    flex: 50%;
}
#row1 a {
    border: 3px solid white;
    text-align: center;
    margin: 1em;
    height: 4em;
    color: white;
    max-height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#row1 a p {
    transition: 1.5s;
}
#row1 a:hover > p {
    transform: scale(1.5, 1.5);
    transform-origin: center;
}

#row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#row2 #row1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#row2 img {
    margin: 1em;
}

#row2 #row1 {
    margin: auto;
}

#row3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#row3 img {
    transform: scale(1.2, 1.2);
}

#gallery {
    max-width: 98%;
}
#row2 img {
    max-width: 35%;
    border: 2px solid white;
}


#img1 {
    transform: rotateZ(30deg) translatex(300px);
}

#columnContainer h2 {
    text-align: center;
    padding: .5em 0 .5em 0;
    border-top: 3px solid rgba(255, 255, 255, .5);
    border-bottom: 3px solid rgba(255, 255, 255, .5);
}

@media only screen and (max-width: 767px) {
    #row1 p {
        font-size: 200%;
    }

    h2 {
        font-size: 250%;
    }
    #row2 img {
        max-width: 40%;
    }
    section {        
        width: 98%
    }
}

@media print {
    #row1 {
        display: none;
    }
}