* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d1b2e;
    color: white;
}

body {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background-color: rgba(0, 0, 0, .8);
    max-width: 950px;
    width: 98%;
    margin: 0 auto 0 auto;
}

header {
    border-bottom: 3px solid white;
    background-image: url("../images/milky-way.jpg");
    height: 350px;
    width: 100%;
}

#headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

header h1 {
    order: 1;
    margin-top: auto;
    font-size: 3em;
    color: white;
    width: 100%;
    text-align: center;
    font-family: Sora, Arial, sans-serif;
    background-color: rgba(0, 0, 0, .6);
    animation-name: fadein;
    animation-duration: 2s;
}

header img {
    order: 0;
    margin-top: 3em;
    max-width: 120px;
    animation-name: fadein;
    animation-duration: 3s;
    transition: 1s;
}
header img:hover {
    transform: scale(1.15, 1.15);
}

main {
    display: flex;
}

aside {
    border-right: 3px solid white;
    order: 0;
    flex: 20%;
}

aside ul {
    width: 100%;
}

aside li {
    list-style: none;
    padding: 1em;
    transition: 1s;
    font-size: 120%;
}
aside li:hover {
    transform: translateX(1.5em);
    transform-origin: left;
}

#mobile_menu {
    order: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0);
}


section {
    order: 1;
    flex: 80%;
    padding: 1em;
    animation-name: fadein;
    animation-duration: 2s;
}
section a {
    color: rgb(45, 129, 179);
    text-decoration: none;
}
section a:visited {
    color: blueviolet;
}
section a:active {
    color: red;
}

aside a {
    text-decoration: none;
    color: inherit;
}
aside a:visited {
    color: inherit;
}

#current {
    color: cyan;
}

footer {
    border-top: 3px solid white;
    padding: 5px auto 5px auto;
    text-align: center;
    font-size: 80%;
}
footer p {
    padding: .2em 0 .2em 0;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Goldman;
    src: url(../fonts/Goldman-Regular.ttf);
}

@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-VariableFont_wght.ttf);
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and (max-width: 959px) {
    #mobile_menu {
        font-size: 150%;
    }
}

@media only screen and (max-width: 767px) {
    body {
        border-top: none;
    }
    main {
        flex-direction: column;
    }
    header {
        text-align: center;
    }
    #nav_menu {
        display: none;
    }
    aside {
        display: none;
    }
    #mobile_menu {
        display: block;
        float: left;
    }
    .slicknav_menu {
        text-align: center;
        background-color: black !important;
    }

    header h1 {
        font-size: 250%;
    }
    header img {
        max-width: 165px;
    }
    
    section {
        padding: 0;
    }

    article p {
        font-size: 165%;
    }
    h2 {
        font-size: 195%;
    }
    footer {
        font-size: 135%;
    }
}

@media print {
    html {
        color: black;
    }
    body {
        border: 3px solid black;
    }
    header {
        background-image: none;
        background-color: white;
        color: black;
    }
    header h1 {
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        color: black;
    }
    aside {
        display: none;
    }
    img {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
    }
    footer {
        border-top: 3px solid black;
    }
    section a {
        color: black;
    }
}