h2 {
    text-align: center;
    padding-bottom: .5em;

}

table {
    border: 2px solid white;
    border-collapse: collapse;
}
table th {
    border: 2px solid white;
}
table td {
    border: 2px solid white;
    text-align: center;
    padding: .25em;
}
table img {
    max-width: 100%;
}

#tablePreview {
    width: 30%;
}
#tableTitle {
    width: 20%;
}
#tableDescription {
    width: 50%;
}

@media only screen and (max-width: 767px) {
    table th {
        font-size: 185%;
    }
    table td {
        font-size: 150%;
    }
}

@media only screen and (max-width: 380px) {
    table th {
        font-size: 150%;
    }
    table td {
        font-size: 140%;
    }
}