section {
    padding-top: 0;
}

article {
    padding-top: 1em;
}

h2 {
    text-align: center;
    padding-bottom: .25em;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h4 {
	text-align: center;
	padding-bottom: .5em;
	color: #6495ed;
}

@media only screen and (max-width: 767px) {
	h2 {
		font-size: 250%;
	}
	h4 {
		font-size: 150%;
	}
}